/* Header */

.header {
  display: flex;
  flex-direction: row;
  padding-left: 6%;
  border-bottom: 2px solid rgb(194, 192, 192);
}

/* Links */
a {
  color: grey;
  text-decoration: none;
}

a:hover {
  color: pink;
}

.links {
  padding-top: 40px;
  padding-left: 50px;
  font-size: 17px;
  width: 100%;
}

.item {
  margin-right: 4%;
}

/* Icon Header */
.icons {
  display: flex;
  flex-direction: row;
  margin-right: 8%;
  margin-top: 2%;
}

.icon-search {
  font-size: 50px;
}

.icon-user {
  font-size: 48px;
  margin-left: 15%;
}

.icon-bag {
  font-size: 43px;
  margin-left: 15%;
}

/* Home-page */

.home-page {
  display: flex;
  flex-direction: row;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.side-menu {
  margin-left: 95px;
}

.side-menu h4 {
  font-weight: 800;
}

.side-menu label {
  font-size: 13px;
}
