* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Header */

.header {
  display: flex;
  flex-direction: row;
  padding-left: 6%;
  border-bottom: 2px solid rgb(194, 192, 192);
}

/* Links */
.header a {
  color: grey;
  text-decoration: none;
  transition: 0.5s;
}

.header a:hover {
  color: pink;
}

.links {
  padding-top: 40px;
  padding-left: 50px;
  font-size: 17px;
  width: 100%;
}

.item {
  margin-right: 4%;
}

/* Icon Header */
.icons {
  display: flex;
  flex-direction: row;
  margin-right: 8%;
  margin-top: 2%;
}

.icon-search {
  font-size: 50px;
}

.icon-user {
  font-size: 48px;
  margin-left: 15%;
}

.icon-bag {
  font-size: 43px;
  margin-left: 15%;
}

/* Home-page */

.home-page {
  display: flex;
  flex-direction: row;
}

.side-menu {
  margin-left: 95px;
}

.side-menu h4 {
  font-weight: 800;
}

.side-menu label {
  font-size: 13px;
}

.product-menu {
  margin-left: 4%;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 20px;
  column-gap: 50px;
  row-gap: 30px;
}

.product-menu h2 {
  font-size: 12px;
}

.single-product {
  border: 1px gray;
  border-style: ridge;
}

.content {
  width: 210px;
}

.button-add {
  font-size: 11px;
  background-color: rgba(127, 184, 41, 0.866);
  color: #fff;
  border: none;
  border-radius: 3px;
  width: 100%;
  height: 10%;
  margin-top: 5%;
}

.button-add:hover {
  cursor: pointer;
}
